<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta charset="UTF-8"></meta>
    <title>パスワード変更</title>
  </head>
  <body>
    <h1>パスワードの変更</h1>
    <p>パスワードの有効期限が切れています。</p>
    <p>パスワードを変更してください</p>
    <form method="post" th:action="@{/password/change}" th:object="${passwordForm}">
      <label>パスワード：</label>
      <input type="password" th:field="*{password}" />
      <button type="submit">パスワード変更</button>
    </form>
  </body>
</html>